<div class="py-5 text-center w-100">
    <div class="mx-auto w-xxl w-auto-xs">
        <div class="px-3">
            <div>
                <h5>Lupa password anda?</h5>
                <p class="text-muted my-3">
                    Masukkan email anda dibawah ini dan password anda akan direset lalu dikirimkan pada email tersebut.
                </p>
            </div>
            <form action="{$config->site_url('bantul/backend/lupa_password_process')}" method="post" autocomplete="off">
                <!-- notification template -->
                {include file="base/templates/notification.html"}
                <!-- end of notification template-->
                <div class="form-group">
                    <div class="input-group mb-2">
                        <div class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Masukkan Email" name="user_mail" maxlength="50" tabindex="1" required="required" />
                    </div>   
                </div>
                <button type="submit" class="btn btn-lg btn-block warning p-x-md">Reset dan Kirim</button>
            </form>
            <div class="py-4">
                Kembali ke <a href="{$config->site_url('bantul/backend')}" class="text-danger _600">Halaman Masuk</a>
            </div> 
        </div>
    </div>
</div>