<script type="text/javascript">
// lazyload config
    var MODULE_CONFIG = {
        chat: [
            '{$BASEURL}resource/themes/default/plugins/list.js/dist/list.js',
            '{$BASEURL}resource/themes/default/plugins/notie/dist/notie.min.js',
            '{$BASEURL}resource/themes/default/plugins/scripts/plugins/notie.js',
            '{$BASEURL}resource/themes/default/plugins/scripts/app/chat.js'
        ],
        mail: [
            '{$BASEURL}resource/themes/default/plugins/list.js/dist/list.js',
            '{$BASEURL}resource/themes/default/plugins/notie/dist/notie.min.js',
            '{$BASEURL}resource/themes/default/plugins/scripts/plugins/notie.js',
            '{$BASEURL}resource/themes/default/plugins/scripts/app/mail.js'
        ],
        user: [
            '{$BASEURL}resource/themes/default/plugins/list.js/dist/list.js',
            '{$BASEURL}resource/themes/default/plugins/notie/dist/notie.min.js',
            '{$BASEURL}resource/themes/default/plugins/scripts/plugins/notie.js',
            '{$BASEURL}resource/themes/default/plugins/scripts/app/user.js'
        ],
        screenfull: [
            '{$BASEURL}resource/themes/default/plugins/screenfull/dist/screenfull.js',
            '{$BASEURL}resource/themes/default/plugins/scripts/plugins/screenfull.js'
        ],
        jscroll: [
            '{$BASEURL}resource/themes/default/plugins/jscroll/jquery.jscroll.min.js'
        ],
        stick_in_parent: [
            '{$BASEURL}resource/themes/default/plugins/sticky-kit/jquery.sticky-kit.min.js'
        ],
        scrollreveal: [
            '{$BASEURL}resource/themes/default/plugins/scrollreveal/dist/scrollreveal.min.js',
            '{$BASEURL}resource/themes/default/plugins/scripts/plugins/jquery.scrollreveal.js'
        ],
        owlCarousel: [
            '{$BASEURL}resource/themes/default/plugins/owl.carousel/dist/assets/owl.carousel.min.css',
            '{$BASEURL}resource/themes/default/plugins/owl.carousel/dist/assets/owl.theme.css',
            '{$BASEURL}resource/themes/default/plugins/owl.carousel/dist/owl.carousel.min.js'
        ],
        html5sortable: [
            '{$BASEURL}resource/themes/default/plugins/html5sortable/dist/html.sortable.min.js',
            '{$BASEURL}resource/themes/default/plugins/scripts/plugins/jquery.html5sortable.js',
            '{$BASEURL}resource/themes/default/plugins/scripts/plugins/sortable.js'
        ],
        easyPieChart: [
            '{$BASEURL}resource/themes/default/plugins/easy-pie-chart/dist/jquery.easypiechart.min.js'
        ],
        peity: [
            '{$BASEURL}resource/themes/default/plugins/peity/jquery.peity.js',
            '{$BASEURL}resource/themes/default/plugins/scripts/plugins/jquery.peity.tooltip.js',
        ],
        chart: [
            '{$BASEURL}resource/themes/default/plugins/moment/min/moment-with-locales.min.js',
            '{$BASEURL}resource/themes/default/plugins/chart.js/dist/Chart.min.js',
            '{$BASEURL}resource/themes/default/plugins/scripts/plugins/jquery.chart.js',
            '{$BASEURL}resource/themes/default/plugins/scripts/plugins/chartjs.js'
        ],
        dataTable: [
            '{$BASEURL}resource/themes/default/plugins/datatables/media/js/jquery.dataTables.min.js',
            '{$BASEURL}resource/themes/default/plugins/datatables.net-bs4/js/dataTables.bootstrap4.js',
            '{$BASEURL}resource/themes/default/plugins/datatables.net-bs4/css/dataTables.bootstrap4.css',
            '{$BASEURL}resource/themes/default/plugins/scripts/plugins/datatable.js'
        ],
        bootstrapTable: [
            '{$BASEURL}resource/themes/default/plugins/bootstrap-table/dist/bootstrap-table.min.css',
            '{$BASEURL}resource/themes/default/plugins/bootstrap-table/dist/bootstrap-table.min.js',
            '{$BASEURL}resource/themes/default/plugins/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js',
            '{$BASEURL}resource/themes/default/plugins/bootstrap-table/dist/extensions/mobile/bootstrap-table-mobile.min.js',
            '{$BASEURL}resource/themes/default/plugins/scripts/plugins/tableExport.min.js',
            '{$BASEURL}resource/themes/default/plugins/scripts/plugins/bootstrap-table.js'
        ],
        bootstrapWizard: [
            '{$BASEURL}resource/themes/default/plugins/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js'
        ],
        dropzone: [
            '{$BASEURL}resource/themes/default/plugins/dropzone/dist/min/dropzone.min.js',
            '{$BASEURL}resource/themes/default/plugins/dropzone/dist/min/dropzone.min.css'
        ],
        datetimepicker: [
            '{$BASEURL}resource/themes/default/plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css',
            '{$BASEURL}resource/themes/default/plugins/moment/min/moment-with-locales.min.js',
            '{$BASEURL}resource/themes/default/plugins/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js',
            '{$BASEURL}resource/themes/default/plugins/scripts/plugins/datetimepicker.js'
        ],
        datepicker: [
            "{$BASEURL}resource/themes/default/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js",
            "{$BASEURL}resource/themes/default/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css",
        ],
        fullCalendar: [
            '{$BASEURL}resource/themes/default/plugins/moment/min/moment-with-locales.min.js',
            '{$BASEURL}resource/themes/default/plugins/fullcalendar/dist/fullcalendar.min.js',
            '{$BASEURL}resource/themes/default/plugins/fullcalendar/dist/fullcalendar.min.css',
            '{$BASEURL}resource/themes/default/plugins/scripts/plugins/fullcalendar.js'
        ],
        parsley: [
            '{$BASEURL}resource/themes/default/plugins/parsleyjs/dist/parsley.min.js'
        ],
        select2: [
            '{$BASEURL}resource/themes/default/plugins/select2/dist/css/select2.min.css',
            '{$BASEURL}resource/themes/default/plugins/select2/dist/js/select2.min.js',
            '{$BASEURL}resource/themes/default/plugins/scripts/plugins/select2.js'
        ],
        summernote: [
            '{$BASEURL}resource/themes/default/plugins/summernote/dist/summernote.css',
            '{$BASEURL}resource/themes/default/plugins/summernote/dist/summernote-bs4.css',
            '{$BASEURL}resource/themes/default/plugins/summernote/dist/summernote.min.js',
            '{$BASEURL}resource/themes/default/plugins/summernote/dist/summernote-bs4.min.js'
        ],
        vectorMap: [
            '{$BASEURL}resource/themes/default/plugins/jqvmap/dist/jqvmap.min.css',
            '{$BASEURL}resource/themes/default/plugins/jqvmap/dist/jquery.vmap.js',
            '{$BASEURL}resource/themes/default/plugins/jqvmap/dist/maps/jquery.vmap.world.js',
            '{$BASEURL}resource/themes/default/plugins/jqvmap/dist/maps/jquery.vmap.usa.js',
            '{$BASEURL}resource/themes/default/plugins/jqvmap/dist/maps/jquery.vmap.france.js',
            '{$BASEURL}resource/themes/default/plugins/scripts/plugins/jqvmap.js'
        ]
    };

    var MODULE_OPTION_CONFIG = {
        parsley: {
            errorClass: 'is-invalid',
            successClass: 'is-valid',
            errorsWrapper: '<ul class="list-unstyled text-sm mt-1 text-muted"></ul>'
        }
    }

</script>