{if $notification_header|default:'' == "error"}
<div class="alert bg-soft-danger mb-0" role="alert" style="text-align: left; margin:10px 0 10px 0;">
    <h4 class="alert-heading">Error</h4>
    <p>{$notification_message|default:''}</p>
    {if $notification_error|default:'' neq ''}
        <p class="mb-0 border-top pt-3">{$notification_error|default:''}</p>
    {/if}
</div>
{elseif $notification_header|default:'' == "warning"}
<div class="alert bg-soft-warning mb-0" role="alert" style="text-align: left; margin:10px 0 10px 0;">
    <h4 class="alert-heading">Peringatan</h4>
    <p>{$notification_message|default:''}</p>
    {if $notification_error|default:'' neq ''}
        <p class="mb-0 border-top pt-3">{$notification_error|default:''}</p>
    {/if}
</div>
{elseif $notification_header|default:'' == "success"}
<div class="alert bg-soft-success mb-0" role="alert" style="text-align: left; margin:10px 0 10px 0;">
    <h4 class="alert-heading">Berhasil</h4>
    <p>{$notification_message|default:''}</p>
    {if $notification_error|default:'' neq ''}
        <p class="mb-0 border-top pt-3">{$notification_error|default:''}</p>
    {/if}
</div>
{elseif $notification_header|default:'' == "info"}
<div class="alert bg-soft-info mb-0" role="alert" style="text-align: left; margin:10px 0 10px 0;">
    <h4 class="alert-heading">Info</h4>
    <p>{$notification_message|default:''}</p>
    {if $notification_error|default:'' neq ''}
        <p class="mb-0 border-top pt-3">{$notification_error|default:''}</p>
    {/if}
</div>
{else}
{/if}