{if $notification_header|default:'' == "error"}
<div class="alert alert-light alert-elevate" role="alert">
    <!-- <h6>{$notification_header|upper}</h6> -->
    <!-- {$notification_message} {$notification_error} -->
    <div class="alert-icon"><i class="flaticon2-information kt-font-danger"></i></div>
    <div class="alert-text">
        <span class="kt-font-danger"><strong>Error, </strong></span>{$notification_message}
        <hr>
        <p class="mb-0">{$notification_error}</p>
    </div>
    <div class="alert-close">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="la la-close"></i></span>
        </button>
    </div>
</div>
{elseif $notification_header|default:'' == "warning"}
<div class="alert alert-light alert-elevate" role="alert">
    <div class="alert-icon"><i class="flaticon2-warning kt-font-warning"></i></div>
    <div class="alert-text">
        <span class="kt-font-warning"><strong>Peringatan, </strong></span>
        <hr>
        <p class="mb-0">{$notification_error}</p>
    </div>
    <div class="alert-close">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="la la-close"></i></span>
        </button>
    </div>
</div>
{elseif $notification_header|default:'' == "success"}
<div class="alert alert-light alert-elevate" role="alert">
    <div class="alert-icon"><i class="flaticon2-protected kt-font-success"></i></div>
    <div class="alert-text">
        <span class="kt-font-success"><strong>Sukses, </strong></span>{$notification_message} 
        <hr>
        <p class="mb-0">{$notification_error}</p>
    </div>
    <div class="alert-close">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="la la-close"></i></span>
        </button>
    </div>
</div>
{elseif $notification_header|default:'' == "info"}
<div class="alert alert-light alert-elevate" role="alert">
    <div class="alert-icon"><i class="flaticon2-hangouts-logo kt-font-brand"></i></div>
    <div class="alert-text">
        <span class="kt-font-brand"><strong>Info, </strong></span>{$notification_message}
        <hr>
        <p class="mb-0">{$notification_error}</p>
    </div>
    <div class="alert-close">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="la la-close"></i></span>
        </button>
    </div>
</div>
{else}
{/if}