<section class="bg-home d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 text-center">
                <img src="{$BASEURL}/resource/themes/landrick.1.0/images/illustrator/drawkit-grape-pack-illustration-2.svg"
                    class="img-fluid" alt="" style="height: 70%;">
                <div class="text-uppercase mt-2 display-4">Mohon maaf</div>
                <div class="text-capitalize text-dark mb-0 error-page">Halaman ini masih dalam masa pengembangan</div>
                <!-- <p class="text-muted para-desc mx-auto">Start working with <span class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p> -->
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row" style="margin-top: -50px;">
            <div class="col-md-12 text-center">
                <!-- <a href="index.html" class="btn btn-outline-primary mt-4">Go Back</a> -->
                <a href="{$config->site_url()}" class="btn btn-primary mt-4 ms-2">Kembali Ke Beranda</a>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->